
$font_color: #5b5b5b;
$blue_color: #5d87a1;

$link_color: #6699cc;

$blue_color2: #428bca;
$title_color: #6699cc;


body { 
	font-family: 'Open Sans', sans-serif; 
	color: $font_color; 
}
a { 
	color: $link_color; 
}
a:hover { 
	color: $link_color; 
	text-transform: underline; 
}
header { 
	border-bottom: 3px solid $blue_color; 
	height: 90px;
}

footer { 
	height: 50px;
	border-top: 1px solid #dddddd; 
	.nav 	{ 
		margin: 0; 
	}
}

table.table {
	margin-top: 20px;
	th {
		background: $blue_color;
		color: #ffffff;
		a {
			color: #ffffff;
		}
	}
}

.btn {
	background: $blue_color;
	box-shadow: none;
	border: none;
	text-shadow: none;
	color: #ffffff;
}
.btn:hover {
	background: $link_color;
	box-shadow: none;
	border: none;
	text-shadow: none;
	color: #ffffff;
}

.bodyContainer {
	color: $font_color;
	padding-bottom: 30px;
}
.menubar ul li a { 
	color: $blue_color; 
}
.componentTitle		{ 
	color: $blue_color; 
	font-size: 32px; 
	line-height: 50px;
	margin-bottom: 30px;
}
.carousel-control {
	border: none;
	background: none;
}
.fieloForm {
	legend {
		color: $blue_color;
		font-size: 18px;	
	}
}

.menu_Home {
	.section_2 {
		.subSection_3 {
			background: #dedede;
		}
	}
}

.home_news, .home_promotions {
	.thumbnails {
		&:after {
			content: "...";
			display: block;
			line-height: 20px;
			text-align: center;
		}
		li {
			margin: 0;
		}
		.item {
			border: none;
			box-shadow: none;
		}
	}
	.modal {
		.detail {
			padding: 0;
			.FieloEE__ExtractText__c {
				margin: 0 0 10px;
			}
			.FieloEE__Image__c {
				float: none;
				width: 100%;
				img {
					width: 100%;
				}
			}
			.FieloEE__Body__c {
				float: none;
				margin: 0;
				width: 100%;
			}
		}
	}
}
.quick_links {
	padding: 30px 10px;
	ul, li, .item, .FieloEE__ExtractText__c {
		margin: 0;
		padding: 0;
	}
	.item {
		border: none;
		box-shadow: none;
		background: none;

		.FieloEE__ExternalLink__c {
			font-size: 18px !important;
			margin: 10px 0;
			text-align: center;
		}
		.FieloEE__ExtractText__c {
			display: none;
		}
	}
}

.terms {
	ul li {
		margin-top: 10px;
	}
}